* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input,
button {
    border: 1px solid $light-grayish-violet;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

img {
    width: 100%;
    display: block;
}